@import '../../node_modules/font-awesome/css/font-awesome.css';
#rockPaperScissorsContainer {
  margin: 50px 0 0 0;

  h1, h2, h3 {
    font-size: 20px;
  }

  .playerPanel {
    margin: 20px 0 0 0;
    min-height: 230px;
  }

  .alert {
    margin: 20px 0 0 0;
  }

  .iconMarginRight  {
    margin-right: 10px;
  }

  #winner {
    text-align: center;
  }
}
